.title {
    margin: 20px;
}

.umap-container {
    height: 60vh;
    width: 80%;
    max-width: 60vh;
    border: 1px solid rgb(0, 8, 255);
}

.main-block {
    width: 100%;
    border: 1px solid rgb(0, 8, 255);
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center-align children horizontally */
    justify-content: center;
    /* Center-align children vertically */
}

.dropdown-button {
    width: 80%;
    max-width: 60vh;
    border: 1px solid rgb(0, 8, 255);
}

.dropdown-container {
    text-align: center;
    width: 80%;
    max-width: 60vh;
    border: 1px solid rgb(0, 8, 255);
}