.title {
    margin: 20px;
}

.umap-container {
    width: 80%;
    height: 80%;
    max-width: 60vh;
    max-height: 60vh;
    display: inline-block;
    vertical-align: middle;
}

.main-block {
    /* border: 1px solid black; */
    text-align: center;
    margin: 5em;
}

.dropdown-button {
    width: 90%;
    display: inline-block;
    /* border: 1px solid red; */
    vertical-align: middle;
}

.dropdown-container {
    width: 90%;
    display: inline-block;
    /* border: 1px solid red; */
    vertical-align: middle;
}